/************* Medium Screens  *******/

@media screen and (min-width: 768px) {

/*  Navigation */
nav ul {
  list-style: none;
  display: block;
  margin: 0 10px;
  padding: 10px;
}

nav li {
  display: inline;
 
}


/*top landing section*/
  .top-container{
    background: #d3d3d3;
  }

  .top-container{
    background: #C41E3A;;
    padding: 0px 0px 10px 0px;

    color:#fff;
  }


  /*top landing page section */

  .top-container .containerright {
    float: right;
    width: 38%;
    margin:0;
    overflow: hidden;
    position: relative;
  }

  .top-container img{
    width:50%;
    /* margin: 10px 0px 10px 0px ;*/
    /* padding: 90px 0px 10px 0px;*/
    display:block;
    margin:auto;
  }

/************** START image *****************/

.image {
    position:relative;
    
}

.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:red;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
  .image:hover:after, .image:hover:before {
      opacity:1;
  }

/******************* END Image hover *************/


  /*********** Gallery  ****/

  #gallery li, #galleryskill li {
    float: left;
    width: 45%;
  }

 
  /********** Footer      **********/

  a.footersmall.footerrightsmall{
    visibility: hidden;
    display: none;
  }

  a.footersmall.footerrightlarge{
    float:right;    
    visibility: visible;
    padding-right: 30px;
  }

}


/************ Large screens *******************/

@media screen and (min-width: 1024px) {
  
  .headerclass {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
  }

  /************* Landing Page Section  *******/

  .top-container{
    padding-top:100px;
  }


  .containerleft{
    display:block;
    padding-top: 20px;
  }


#logo {
  display:inline;
  float: left;
  margin: 0 0 10px 10px;
}

  /********** Nav      **********/

  nav ul {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    float:right;
    padding: 20px 10px;
  }

   nav li {
    display: inline;
   }

    nav ul li{
      margin-right:15px;
    }


  /********** Gallery  **********/

  #gallery, #galleryskill{
    padding-top: 50px;
  }


  #gallery li, #galleryskill li {
    float: left;
    width: 28%;
  }




  /************* Footer  ************/
  /* No change for large */

}